<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Show user</title>
</head>
<body>

<p th:text="${person.getFullName() + ', ' + person.getPhone() + ', ' + person.getEmail() +
                                ', ' + person.getDateOfBirth() + ', ' + person.getUsername() + ', ' + person.getPassword()
                                + ', ' + person.getRole()}">VALUE</p>

<form th:method="GET" th:action="@{/admin/{id}/editUser(id=${person.getId()})}">
    <input type="submit" value="Редактировать"/>
</form>

<form th:method="DELETE" th:action="@{/admin/users/{id}(id=${person.getId()})}">
    <input type="submit" value="Удалить"/>
</form>
</body>
</html>